.alexa{
   
    align-items: center;
    justify-content: center;
    .alexa-bio{
        padding:40px;
        @media (min-width:  @extra-large) {
            padding:30px;
         } 
       
       
        p{
            font-family: @futura-light;
            margin-bottom: 20px;
            text-align: justify;
        }
        h1{
            font-family: @futura;
            font-size: 26px;
            color:@black;
            letter-spacing: 2px;
            margin-top: 2%;
        }
        
        h3{
            font-family: @futura-light;
            text-transform: uppercase;
            font-size:36px;
            font-weight: normal;
            color: @gold-1;
            margin-bottom: 20px;
        }
        hr{
            border: 1px solid @gold-1;
        }

        .detail-title{
            color:@gold-1;
            font-family: @futura-light-bt;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .detail-colection{
            color:@gold-1;
            font-family: @futura-md-bt;
            font-size: 21px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .detail-price{
            font-family: @futura;
            font-size: 23px;
            color:@black;
            margin-bottom: 4%;
        }
        .detail-icons{
            margin-top:6%;
        }
    }
    &__icons{
        i{
          
            margin-top: 10px;
        }
        
    }
}
.row{
    &__column-alexa{
       
      
        align-items: center;
    }
}
.alexa-photo{
    min-width: 0;
}
.vestido{
    @media (max-width: @small) {
       display: block;
    } 
}