.home-slider{
    z-index: 0;
    @media (max-width: @small) {
        min-height: 400px;
    }
    .collection-item{

        @media (max-width: @small) {
            min-height: 400px;
            background-size:cover;
            background-position: 50% 50%;
        }

           

        &__label{
            position: absolute;
            top: 75%;
            left: 50%;
            text-align: center;
            transform: translate(-50%,-75%);
            h3{
                color:@white;
                border: 1px solid @white;
                font-size: 30px;
                text-transform: uppercase;
                padding: 5px 15px;
                margin-bottom: 20px;
                @media (max-width: @small) {
                    font-size: 15px;
                }
            }
        }
        &__smalltext{
            background-color: @white;
            font-family: @futura-light;
            font-size: 9px;
            text-transform: uppercase;
            padding: 4px 0px;
            font-weight: bold;
            max-width: 85px;
            margin:auto ;
        }
        img{
            @media (max-width: @small) {
                display: none;
            }
        }
    }
    .owl-prev, .owl-next {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        img{
            @media (max-width: @small) {
                width: 35px;
            }
        }
        
    }
    .owl-prev { left: 0px; }
    .owl-next { 
        right: 56px;            
        @media (max-width: @small) {
            right: 20px;
        } 
    }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
    .owl-next:focus, .owl-prev:focus {outline: none;}
    

    .owl-dots{
        position:absolute;
        left:50%;
        top:90%;
        transform:translate(-50%,-90%);

    }
    .owl-dot{
        width:10px;
        height:10px;
        border:1px solid @white !important;
        background-color: @gold-1 !important;
        border-radius: 5px;
        margin:0 3px;

    }
    .active{
        background-color:@black !important;
    }


}
.mini-slider{


    &__image{
        width: 60%;
        text-align: center;
        margin: auto;
        border:1px solid @gold-1;
        padding:4%;
        @media (max-width: @small) {
            width: 85%;
        }
    }
    .owl-prev, .owl-next {
        width: 10px;
        height: 100px;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        display: block !important;
        
    }
    .owl-nav{
        img{
            width: 35px;
        }
    }
    .owl-next:focus, .owl-prev:focus {outline: none;}
    .owl-prev { left: -20px; }
    .owl-next { right: 10px; }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
   

}

.slider-instagram{
    &__carousel{
        margin-top: 20px;
        img{
            height: 150px;
            width: 150px;
        }
        .owl-dots{
          margin-top: 20px;
    
        }
        .owl-dot{
            width:8px;
            height:8px;
            border:1px solid @white !important;
            background-color: @gold-1 !important;
            border-radius: 5px;
            margin:0 3px;
    
        }
    }
    .owl-next:focus, .owl-prev:focus {outline: none;}
}
.business-line-slider {

    &__image{
        width: 60%;
        text-align: center;
        margin: auto;
        border:1px solid @gold-1;
        padding:4%;
        @media (max-width: @small) {
            width: 85%;
        }
    }
    &__title{
        font-family: "Futura Light";
        margin: 5px 0 10px;
    }
    &__price{
        font-family: "Futura Light";
        margin-top: 4px;
        font-size: 25px;
        color:@gold-1;
        font-weight: bold;

    }
    
    &__carousel{
        .owl-prev, .owl-next {
            width: 10px;
            height: 100px;
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            display: block !important;
            
        }
        .owl-nav{
            img{
                width: 35px;
            }
        }
    
        .owl-next:focus, .owl-prev:focus {outline: none;}
        .owl-prev { left: -20px; }
        .owl-next { right: 10px; }
        .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
    }


}