.home-slider{
    z-index: 0;
    @media (max-width: @small) {
        min-height: 400px;
    }
    .owl-stage-outer{
        @media (min-width: @computer) {
            height: 100vh;
        }
       

    }
    .collection-item{

        @media (max-width: @small) {
            min-height: 100vh;
            background-size:cover;
            background-position: 50% 50%;
        }

           

        &__label{
            position: absolute;
            top: 65%;
            left: 50%;
            text-align: center;
            transform: translate(-50%,-75%);
            h3{
                color:@white;
                border: 1px solid @white;
                font-size: 32px;
                text-transform: uppercase;
                padding: 15px 35px;
                margin-bottom: 20px;
                background-color: @infobox-color;
                font-family: @futura;
                letter-spacing: 2px;
                @media (max-width: @small) {
                    font-size: 15px;
                }
            }
        }
        &__smalltext{
            background-color: @white;
            font-family: @futura-md-bt;
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px;
            font-weight: bold;
            max-width: 120px;
            margin:auto ;
            letter-spacing: 2px;
        }
        img{
            @media (max-width: @small) {
                display: none;
            }
        }
    }



    button.owl-prev{
        width: 71px;
        height: 71px;
        @media (max-width: @extra-small) {
            width: 35px;
            height: 35px;
        }
        
        &:hover{
            background-image: url('../img/left_over_03.jpg') !important;
            background-size: cover !important;
            img{
                display: none;
            }
        }
    }
    button.owl-next{
        width: 71px;
        height: 71px;
        @media (max-width: @extra-small) {
            width: 35px;
            height: 35px;
        }
        
        &:hover{
            background-image: url('../img/right_over_03.jpg') !important;
            background-size: cover !important;
            img{
                display: none;
            }
        }
    }
    .owl-prev, .owl-next {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        img{
            @media (max-width: @small) {
                width: 35px;
            }
        }
        
    }
    .owl-prev { left: 0px;
      
        
    }
    .owl-next { 
        right: 0%;            
    }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
    .owl-next:focus, .owl-prev:focus {outline: none;}
    

    .owl-dots{
        position:absolute;
        left:50%;
        top:90%;
        transform:translate(-50%,-90%);

    }
    .owl-dot{
        width:15px;
        height:15px;
        @media (max-width: @small) {
            width:14px;
            height:14px;
        } 
        border:1px solid @white !important;
        background-color: @black !important;
        border-radius: 10px;
        margin:0 3px;
        outline: none;

    }
    .active{
        background-color:@gold-1 !important;
    }


}
.mini-slider{


    &__image{
        width: 60%;
        text-align: center;
        margin: auto;
        border:1px solid @gold-1;
        padding:5%;
        @media (max-width: @small) {
            width: 85%;
        }

    }
    .owl-prev, .owl-next {
        width: 10px;
        height: 100px;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        display: block !important;
        
    }
    .owl-nav{
        img{
            width: 49px;
            @media (max-width: @extra-small) {
                width: 35px;
            }
        }
    }
    .owl-next:focus, .owl-prev:focus {outline: none;}
    button.owl-prev{
        width: 49px;
        height: 49px;
        @media (max-width: @extra-small) {
            width: 35px;
            height: 35px;
        }
        
        &:hover{
            background-image: url('../img/left_over_03.jpg') !important;
            background-size: cover !important;
            img{
                display: none;
            }
        }
    }
    button.owl-next{
        width: 49px;
        height: 49px;
        @media (max-width: @extra-small) {
            width: 35px;
            height: 35px;
        }
        
        &:hover{
            background-image: url('../img/right_over_03.jpg') !important;
            background-size: cover !important;
            img{
                display: none;
            }
        }
    }
    .owl-prev { 
        left: 7%; 
        
        @media (max-width: @extra-small) {
            left: -4%;
        }
    }
    .owl-next { 
        right: 7%;       
        @media (max-width: @extra-small) {
            right: -5%;
        } 
    }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
   

}
.slider-instagram{
    &__carousel{
        margin-top: 20px;
        img{
            height: 150px;
            width: 150px;
        }
        .owl-dots{
          margin-top: 20px;
    
        }
        .owl-dot{
            width:15px;
            height:15px;
            border:1px solid @white !important;
            background-color: @black !important;
            border-radius: 10px;
            margin:0 3px;
            outline: none;
            &.active{
                background-color:@gold-1 !important;
            }
    
        }

    }
    .owl-next:focus, .owl-prev:focus {outline: none;}
}
.business-line-slider, .detail__carousel {

    &__image{
        width: 60%;
        text-align: center;
        margin: auto;
        border:1px solid @gold-1;
        padding:4%;

    }
    &__title{
        font-family: "Futura Light";
        margin: 28px 0 10px;
        font-size: 23px;
    }
    &__price{
        font-family: "Futura Light";
        margin-top: 15px;
        font-size: 35px;
        color:@gold-1;
        font-weight: bold;

    }
    
    &__carousel{
        button.owl-prev{
            width: 35px;
            height: 35px;
            @media (max-width: @extra-small) {
                width: 35px;
                height: 35px;
            }
            
            &:hover{
                background-image: url('../img/left_over_03.jpg') !important;
                background-size: cover !important;
                img{
                    display: none;
                }
            }
        }
        button.owl-next{
            width: 35px;
            height: 35px;
            @media (max-width: @extra-small) {
                width: 35px;
                height: 35px;
            }
            
            &:hover{
                background-image: url('../img/right_over_03.jpg') !important;
                background-size: cover !important;
                img{
                    display: none;
                }
            }
        }
        
        .owl-prev, .owl-next {
            width: 10px;
            height: 100px;
            position: absolute;
            top: 28%;
            transform: translateY(-50%);
            display: block !important;
            @media (max-width: @small) {
                top: 28%;
            }
            
        }
        .owl-nav{
            img{
                width: 35px;
            }
        }
    
        .owl-next:focus, .owl-prev:focus {outline: none;}
        .owl-prev { left: 3%; 
            @media (max-width: @small) {
                left: 9%;
            }
        }
        .owl-next { 
            right: 3%;
            @media (max-width: @small) {
                right: 10%;
            }
        }
        .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
    }


}
.detail__carousel {
        &__image{
            width: 60%;
            text-align: center;
            margin: auto;
            border:1px solid @gold-1;
            padding:4%;
            @media (max-width: @small) {
                width: 85%;
            }
        }
        button.owl-prev{
            width: 35px;
            height: 35px;
            @media (max-width: @extra-small) {
                width: 35px;
                height: 35px;
            }
            
            &:hover{
                background-image: url('../img/left_over_03.jpg') !important;
                background-size: cover !important;
                img{
                    display: none;
                }
            }
        }
        button.owl-next{
            width: 35px;
            height: 35px;
            @media (max-width: @extra-small) {
                width: 35px;
                height: 35px;
            }
            
            &:hover{
                background-image: url('../img/right_over_03.jpg') !important;
                background-size: cover !important;
                img{
                    display: none;
                }
            }
        }

        .owl-prev, .owl-next {
            width: 10px;
            height: 100px;
            position: absolute;
            top: 28%;
            transform: translateY(-50%);
            display: block !important;
            
        }
        .owl-nav{
            img{
                width: 35px;
            }
        }
    
        .owl-next:focus, .owl-prev:focus {outline: none;}
        .owl-prev { 
           
            @media (max-width: @extra-small) {
                left: 3%;
            } 
        }
        .owl-next { right: 10px; }
        .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}

}
.contacto_slider{
    width: 50%;
}


.vestido_carusel{


    button.owl-prev{
        width: 71px;
        height: 71px;
        @media (max-width: @extra-small) {
            width: 71px;
            height: 71px;
        }
        
        &:hover{
            background-image: url('../img/left_over_03.jpg') !important;
            background-size: cover !important;
            img{
                display: none;
            }
        }
    }
    button.owl-next{
        width: 71px;
        height: 71px;
        @media (max-width: @extra-small) {
            width: 71px;
            height: 71px;
        }
        
        &:hover{
            background-image: url('../img/right_over_03.jpg') !important;
            background-size: cover !important;
            img{
                display: none;
            }
        }
    }

.owl-prev, .owl-next {
    width: 10px;
    height: 100px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: block !important;
    
}
.owl-nav{
    img{
       
        @media (max-width: @extra-small) {
           
        }
    }
}
.owl-next:focus, .owl-prev:focus {outline: none;}
.owl-prev { left: 0%; 
    
}
.owl-next { 
    right: 0%; 
}
.owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
}