
*{
    margin:0;
    padding:0px;
    font-family: @futura;
    box-sizing: border-box;
}
body{
    background:@white;
}
.container{
    width: 100%;
    margin:0px;
}
.row{
    display: flex;
    @media (max-width: @small) {
            flex-direction: column;
    }

    &--index{
        min-height: 100vh;
        @media (max-width: @tablet) {
            min-height: 500px;
        }
       
        @media (max-width: @extra-small) {
            min-height: 1200px;
        }

        &:nth-child(even){
            div:first-child{
                order: 2;

            }
            div:nth-child(2){
                order: 1;
                @media (max-width: @small) {
                    order: 2;
                }
            }
            .text-wrapper{
                float:left;
                text-align: left;
                .black-button{
                    margin:none;
                    left:0;
                }

                @media (max-width: @small) {
                    float: none;
                }
            }
            .cover{
                &__header{
                    @media (min-width: @tablet) {
                    padding-left: 70px;
                    }
                    @media (max-width: @small) {
                        padding-left:15px;
                    }
                }
            }
        }
        &:nth-child(odd){

            .text-wrapper{
                float:right;
                text-align: right;
                .black-button{
                  
                            float:right;
               
                   
                }

                @media (max-width: @small) {
                    float: none;
                }
            }
            .cover{
                &__header{
                  text-align: right;
                  @media (max-width: @small) {
                    padding-right:15px;
                  }

                  @media (min-width: @tablet) {
                    padding-right:70px;
                  }
                }
            }

        }
    }
    &__column-index, &__column-footer,&__column-alexa,&__column-contact{
        flex:1;
        position: relative;
    }

    
}
.black-button{
    display: block;
    background-color: @black;
    color: @gold-1;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    width: 200px;
    margin:auto;
    border:1px solid @gold-1;
    font-size:13px;
    font-family: @futura-md-bt;
    &:hover{
        color:@black;
        background-color: @gold-1;
    }
    &--whatsapp{
        font-size:13px;
        font-family: @futura-md-bt;
     i{

         font-size: 20px;
     }  
    }
    &--colections{
        text-align: center !important;
        margin:10% 0 0 0;
        &:hover{
            background-color: @gold-1;
            color:@black;
        }
    }
    &--left{
        margin-left:0;
        text-align: center;

    }
    &--margin-top{
        margin-top:4%;
    }
    &.btn-large{
        width:30%;
    }
}
.responsive-img{
    width: 100%;
    display: block;
}
.icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    margin-right: 7px;
    background-repeat: no-repeat;
   &--facebook{
    background-image: url('/img/facebook_19.jpg');
    &--white{
        background-image: url('/img/icons_facebook.png');
    }
   }
   &--instagram{
    background-image: url('/img/instagram_19.jpg');
    &--white{
        background-image: url('/img/icons_instagram.png');
    }
   }
   &--pinterest{
    background-image: url('/img/pinterest_19.jpg');
    &--white{
        background-image: url('/img/icons_pinterest.png');
    }
   }
   &--pin{
    background-image: url('/img/pin.svg');
   }
   &--phone{
    background-image: url('/img/phone.svg');
   }
   &--address{
    background-image: url('/img/cursor.svg');
   }
   &--email{
    background-image: url('/img/mail.svg');
   }
}
.slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover{
    background-color: @gold-1 !important;
    @media (max-width: @extra-small) {
        background-color: transparent !important;
        color:@white;
    }
}
.slicknav_nav h4{
    color:@gold-1;
}
