.cover{
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
}
.promo{
    background-image: url(/img/promo.jpg);
    
}
.gold-line{
    background-image: url(/img/gold-line.jpg);
}
.swing{
    background-image: url(/img/swing.jpg);
}

.nite{
    background-image: url(/img/nite.jpg);
}
.urban{
    background-image: url(/img/urban.jpg);
}
