
//Device widths
@extra-small:  575.98px;
@small: 767.98px ;
@tablet: 991.98px;
@computer: 1199.98px;
@extra-large: 1920.98px;



///-----------Colors-------------//
@white: #fff;
@black: #000;
@nav-color:rgba(0, 0, 0, 0.5);
@nav-color-mobile:rgba(0, 0, 0, 0.8);
@infobox-color:rgba(0, 0, 0, 0.5);
@dropdown-menu-color:rgba(0, 0, 0, 0.9);
@gold-1:#bc912d;
@gold-2: #bc912d;
@gold-3:#a07318;
@nobel: #666;
@gray-sliders:#f5f5f5;
@gray-text:#767676;
@red: red;


//-----------Fonts -------------//
@site-font: "Lato Regular";

@futura: "Futura";
@futura-bold: "Futura Bold";
@futura-md-bt: "Futura Md Bt";
@futura-light: "Futura Light";
@futura-light-bt: "Futura Light BT";


