
//Device widths
@extra-small:  575.98px;
@small: 767.98px ;
@tablet: 991.98px;
@computer: 1199.98px;


///-----------Colors-------------//
@white: #fff;
@black: #000;
@nav-color:rgba(0, 0, 0, 0.8);
@infobox-color:rgba(0, 0, 0, 0.5);
@gold-1:#bc912d;
@gold-2: #bc912d;
@nobel: #666;
@gray-sliders:#f7f7f7;

//-----------Fonts -------------//
@site-font: "Lato Regular";

@futura: "Futura";
@futura-light: "Futura Bold";
@futura-md-bt: "Futura Md Bt";
@futura-light: "Futura Light";


