<section class="alexa row">
    <div class="row__column-alexa alexa-photo">

        <img src="" alt="" class="responsive-img" id="foto-alexa">
    </div>
    <div class="row__column-alexa alexa-bio">

        <h3 id="alexa_title"></h3>
        <p id="alexa_content">        
          
        </p>

        <hr/>
        <div class="alexa__icons">
                <a href ="https://www.facebook.com/AlexaJilonOficial/"><i class="icon icon--facebook--white"></i></a>
                <a href="https://www.instagram.com/alexajilonoficial/"><i class="icon icon--instagram--white"></i></a>
                <a href="https://co.pinterest.com/alexajilonoficial/"><i class="icon icon--pinterest--white"></i></a>
        </div>

    </div>
</section>

<div class="slider-instagram">
    <div class="slider-instagram__title">
        <h5>Instagram</h5>
    </div>
        @alexajilonoficial
        <div class="slider-instagram__carousel owl-carousel">
                <div class="instagram-thumb"><img src="img/vestido-azul_07.jpg" alt="">Conjunto en #seda</div>
                <div class="instagram-thumb"> <img src="img/seda_11.jpg" alt="">#Noche Estelar</div>
                <div class="instagram-thumb"> <img src="img/vestido-belle_07.jpg" alt="">Vestido Belle Rose</div>
                <div class="instagram-thumb"> <img src="img/seda_11.jpg" alt="">#Noche Estelar</div>
                <div class="instagram-thumb"> <img src="img/vestido-azul_07.jpg" alt="">Conjunto en #seda</div>
                <div class="instagram-thumb"> <img src="img/seda_11.jpg" alt="">Conjunto en #seda</div>
                <div class="instagram-thumb"> <img src="img/vestido-belle_07.jpg" alt="">Conjunto en #seda</div>
                <div class="instagram-thumb"> <img src="img/seda_11.jpg" alt="">#Noche Estelar</div>
        </div>
</div>