<section class="alexa row">
    <div class="row__column-alexa alexa-photo">

        <img src="img/imagenAlexjaJilon_960x1080.jpg" alt="" class="responsive-img">
    </div>
    <div class="row__column-alexa alexa-bio">

        <h3>Alexa Jilon</h3>
        <p>        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quasi velit commodi dicta at iusto quisquam unde quo architecto iure sed neque, ad vitae nisi sapiente tempora numquam accusantium veritatis.
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nesciunt minima modi error consequuntur culpa natus soluta laudantium molestiae, nemo a. Provident suscipit consectetur beatae sint reiciendis assumenda omnis perferendis.

        </p>
        <hr/>
        <div class="alexa__icons">
                <i class="icon icon--facebook--white"></i>
                <i class="icon icon--instagram--white"></i>
                <i class="icon icon--pinterest--white"></i>
        </div>

    </div>
</section>

<div class="slider-instagram">
    <div class="slider-instagram__title">
        <h5>Instragram</h5>
    </div>
        @alexagilonoficial
        <div class="slider-instagram__carousel owl-carousel">
                <div class="instagram-thumb"><img src="img/vestido-azul_07.jpg" alt="">Conjunto en #seda</div>
                <div class="instagram-thumb"> <img src="img/seda_11.jpg" alt="">#Noche Estelar</div>
                <div class="instagram-thumb"> <img src="img/vestido-belle_07.jpg" alt="">Vestido Belle Rose</div>
                <div class="instagram-thumb"> <img src="img/seda_11.jpg" alt="">#Noche Estelar</div>
                <div class="instagram-thumb"> <img src="img/vestido-azul_07.jpg" alt="">Conjunto en #seda</div>
                <div class="instagram-thumb"> <img src="img/seda_11.jpg" alt="">Conjunto en #seda</div>
                <div class="instagram-thumb"> <img src="img/vestido-belle_07.jpg" alt="">Conjunto en #seda</div>
                <div class="instagram-thumb"> <img src="img/seda_11.jpg" alt="">#Noche Estelar</div>
        </div>
</div>