            <footer>
                <div class="footer-logo">
                    <img src="img/logo_alexaJilon.png" alt="">
                </div>

                <div class="row">
                    <div class="row__column-footer">
                       
                        <div class="footer-info">
                                <h5>Contáctame</h5>

                            <ul>
                                <li><i class="icon icon--pin"></i>Alexa Jilon Show Room Cali | Google Maps</li>
                                <li>google maps</li>
                                <li><i class="icon icon--phone"></i> (57-2)3432035</li>
                                <li><i class="icon icon--phone"></i> 310 4408034</li>
                                <li><i class="icon icon--address"></i> Cra 85E $ 45 -66 TC Ap 510 - Brisas de San Lorenzo</li>
                                <li><i class="icon icon--email"></i> info@alexajilon.com</li>
                            </ul>
   
                        </div>
                    </div>
                    <div class="row__column-footer">
                       
                        <div class="footer-info">
                                <h5>Sígueme</h5>

                            <ul>
                                <li><i class="icon icon--facebook"></i><a href="https://www.facebook.com/AlexaJilonOficial/">@AlexaJilonOficial</a></li>
                                <li><i class="icon icon--instagram"></i><a href="https://www.instagram.com/alexajilonoficial/" target="_blank"> @alexajilonoficial</a></li>
                                <li><i class="icon icon--pinterest"></i><a href="https://co.pinterest.com/alexajilonoficial/" target="_blank"> @alexajilonoficial</a></li>
                            </ul>

                        </div>




                    </div>
                    <div class="row__column-footer">
                       
                        <div class="footer-info">
                                <h5>Subscribete</h5>
                            <div class="subscribe-form">
                                <input type="text">
                                <button>Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </footer>

        </div>
    </body>

</html>