<div class="home-slider owl-carousel">
    <div class="collection-item" style="background-image: url(img/slide/slide-background-NacimosParaReinar.jpg); ">
        <img src="img/slide/slide-background-NacimosParaReinar.jpg" alt="">
        <div class="collection-item__label">

            <h3>Nacimos para reinar</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item" style="background-image: url(img/slide/slide-background-brilloDiosa.jpg); ">
        <img src="img/slide/slide-background-brilloDiosa.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Brillo de diosa</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item" style="background-image: url(img/slide/slide-background-amaru.jpg); ">
        <img src="img/slide/slide-background-amaru.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Amaru</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item" style="background-image: url(img/slide/slide-background-avefenix.jpg); ">
        <img src="img/slide/slide-background-avefenix.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Ave Fenix</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item" style="background-image: url(img/slide/slide-background-decirtelo.jpg); ">
        <img src="img/slide/slide-background-decirtelo.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Decirtelo</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item" style="background-image: url(img/slide/slide-background-goldline-glamurosa.jpg); ">
        <img src="img/slide/slide-background-goldline-glamurosa.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Glamurosa</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>

    <div class="collection-item" style="background-image: url(img/slide/slide-background-nocheEstelar.jpg); ">
        <img src="img/slide/slide-background-nocheEstelar.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Noche estelar</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item" style="background-image: url(img/slide/slide-background-texturas.jpg); ">
        <img src="img/slide/slide-background-texturas.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Texturas</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>


</div>


<div class="row row--index">
    <div class="row__column-index cover promo">

        <div class="cover__header">

            <div class="cover__logo">
                <img src="img/logo-dorado.png" alt="" class="img-responsive">
            </div>
            <div class="cover__title">
                <div class="cover__title__first-line">Nacimos </div>
                <div class="cover__title__second-line">Para reinar</div>

            </div>

        </div>

        <div class="info-box">
            <div class="text-wrapper">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc odio, viverra in condimentum in,
                euismod ut felis. Maecenas sit amet vestibulum neque.
                <a href="" class="black-button black-button--colections ">Colecciones</a>
            </div>
        </div>

    </div>
    <div class="row__column-index">

        <div class="mini-slider">
            <h4>Promoción del mes</h4>


            <div class="mini-slider__carousel owl-carousel">

                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/vestido-azul_07.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>

                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/vestido-azul_07.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>
                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/vestido-azul_07.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>


            </div>

        </div>
    </div>
</div>
<div class="row row--index">
    <div class="row__column-index cover gold-line">
        <div class="cover__header">

            <div class="cover__logo">
                <img src="img/logo-dorado.png" alt="" class="img-responsive">
            </div>
            <div class="cover__title">
                <div class="cover__title__first-line">Nacimos </div>
                <div class="cover__title__second-line">Para reinar</div>

            </div>

        </div>

        <div class="info-box">
            <div class="text-wrapper">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc odio, viverra in condimentum in,
                euismod ut felis. Maecenas sit amet vestibulum neque.
                <a href="" class="black-button black-button--colections ">Colecciones</a>
            </div>
        </div>
    </div>
    <div class="row__column-index">
        <div class="mini-slider">
            <h4>Colección naciomos para reinar</h4>


            <div class="mini-slider__carousel owl-carousel">

                <div>
                    <div class="mini-slider__title">Vestido Belle Rose</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/vestido-belle_07.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>

                <div>
                    <div class="mini-slider__title">Vestido Belle Rose</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/vestido-belle_07.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>
                <div>
                    <div class="mini-slider__title">Vestido Belle Rose</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/vestido-belle_07.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>


            </div>

        </div>



    </div>
</div>
<div class="row row--index">
    <div class="row__column-index cover swing">
        <div class="cover__header">

            <div class="cover__logo">
                <img src="img/logo-dorado.png" alt="" class="img-responsive">
            </div>
            <div class="cover__title">
                <div class="cover__title__first-line">Nacimos </div>
                <div class="cover__title__second-line">Para reinar</div>

            </div>

        </div>
        <div class="info-box">
            <div class="text-wrapper">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc odio, viverra in condimentum in,
                euismod ut felis. Maecenas sit amet vestibulum neque.
                <a href="" class="black-button black-button--colections ">Colecciones</a>
            </div>
        </div>
    </div>
    <div class="row__column-index">
        <div class="mini-slider">
            <h4>Colección Amaru</h4>


            <div class="mini-slider__carousel owl-carousel">

                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"><img src="img/bikini_11.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>

                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"><img src="img/bikini_11.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>
                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"><img src="img/bikini_11.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>


            </div>

        </div>
    </div>
</div>
<div class="row row--index">
    <div class="row__column-index cover nite">
        <div class="cover__header">

            <div class="cover__logo">
                <img src="img/logo-dorado.png" alt="" class="img-responsive">
            </div>
            <div class="cover__title">
                <div class="cover__title__first-line">Nacimos </div>
                <div class="cover__title__second-line">Para reinar</div>

            </div>

        </div>
        <div class="info-box">
            <div class="text-wrapper">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc odio, viverra in condimentum in,
                euismod ut felis. Maecenas sit amet vestibulum neque.
                <a href="" class="black-button black-button--colections ">Colecciones</a>
            </div>
        </div>
    </div>
    <div class="row__column-index">
        <div class="mini-slider">
            <h4>Promoción del mes</h4>


            <div class="mini-slider__carousel owl-carousel">

                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/seda_11.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>

                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/seda_11.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>
                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/seda_11.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>


            </div>

        </div>
    </div>
</div>
<div class="row row--index">
    <div class="row__column-index cover urban">
        <div class="cover__header">

            <div class="cover__logo">
                <img src="img/logo-dorado.png" alt="" class="img-responsive">
            </div>
            <div class="cover__title">
                <div class="cover__title__first-line">Nacimos </div>
                <div class="cover__title__second-line">Para reinar</div>

            </div>

        </div>

        <div class="info-box">
            <div class="text-wrapper">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc odio, viverra in condimentum in,
                euismod ut felis. Maecenas sit amet vestibulum neque.
                <a href="" class="black-button black-button--colections ">Colecciones</a>
            </div>
        </div>
    </div>
    <div class="row__column-index">
        <div class="mini-slider">
            <h4>Promoción del mes</h4>


            <div class="mini-slider__carousel owl-carousel">

                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/vestido-azul_07.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>

                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/vestido-azul_07.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>
                <div>
                    <div class="mini-slider__title">Vestido Azul</div>
                    <div class="mini-slider__image">
                        <a href="#"> <img src="img/vestido-azul_07.jpg" alt=""></a>
                    </div>
                    <div class="mini-slider__price">$200,000</div>
                    <div class="mini-slider__label">¿Lo quieres para tí?</div>
                    <a href="" class="black-button  black-button--whatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        Contactame</a>
                </div>


            </div>

        </div>
    </div>
</div>
<div class="slider-instagram">
    <div class="slider-instagram__title">
        <h5>Instagram</h5>
    </div>
    @alexajilonoficial
    <div class="slider-instagram__carousel owl-carousel">
        <div class="instagram-thumb"><img src="img/vestido-azul_07.jpg" alt="">Conjunto en #seda</div>
        <div class="instagram-thumb"><a href="#"> <img src="img/seda_11.jpg" alt=""></a>#Noche Estelar</div>
        <div class="instagram-thumb"> <a href="#"> <img src="img/vestido-belle_07.jpg" alt=""></a>Vestido Belle Rose
        </div>
        <div class="instagram-thumb"><a href="#"> <img src="img/seda_11.jpg" alt=""></a>#Noche Estelar</div>
        <div class="instagram-thumb"><a href="#"> <img src="img/vestido-azul_07.jpg" alt=""></a>Conjunto en #seda</div>
        <div class="instagram-thumb"><a href="#"> <img src="img/seda_11.jpg" alt=""></a>Conjunto en #seda</div>
        <div class="instagram-thumb"> <a href="#"> <img src="img/vestido-belle_07.jpg" alt=""></a>Conjunto en #seda
        </div>
        <div class="instagram-thumb"><a href="#"> <img src="img/seda_11.jpg" alt=""></a>#Noche Estelar</div>
    </div>
</div>