<div class="home-slider owl-carousel">
    <img src="https://via.placeholder.com/900x500?text=Banner%20Linea" alt="">
    <img src="https://via.placeholder.com/900x500?text=Banner%20Linea" alt="">
    <img src="https://via.placeholder.com/900x500?text=Banner%20Linea" alt="">
    <img src="https://via.placeholder.com/900x500?text=Banner%20Linea" alt="">
</div>


<div class="row row--index">
    <div class="row__column-index">Foto</div>
    <div class="row__column-index">Carrousel</div>
</div>
<div class="row row--index">
        <div class="row__column-index">Foto</div>
        <div class="row__column-index">Carrousel</div>
    </div>
    




<div class="slider">
    slider aqui
</div>