<div class="home-slider owl-carousel">
    <div class="collection-item">
        <img src="img/slide/slide-background-brilloDiosa.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Brillo de diosa</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item">
        <img src="img/slide/slide-background-amaru.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Amaru</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item">
        <img src="img/slide/slide-background-avefenix.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Ave Fenix</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item">
        <img src="img/slide/slide-background-decirtelo.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Decirtelo</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item">
        <img src="img/slide/slide-background-goldline-glamurosa.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Gold Line Glamurosa</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item">
        <img src="img/slide/slide-background-NacimosParaReinar.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Nacimos para reinar</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item">
        <img src="img/slide/slide-background-nocheEstelar.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Noche estelar</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>
    <div class="collection-item">
        <img src="img/slide/slide-background-texturas.jpg" alt="">
        <div class="collection-item__label">
            <div class="collection-item__smalltext">Colección</div>
            <h3>Texturas</h3>
            <a href="" class="black-button">Conócela</a>
        </div>
    </div>


</div>


<div class="row row--index">
    <div class="row__column-index cover promo"></div>
    <div class="row__column-index">Carrousel</div>
</div>
<div class="row row--index">
    <div class="row__column-index cover gold-line"></div>
    <div class="row__column-index">Carrousel</div>
</div>
<div class="row row--index">
        <div class="row__column-index cover swing"></div>
        <div class="row__column-index">Carrousel</div>
</div>
<div class="row row--index">
        <div class="row__column-index cover nite"></div>
        <div class="row__column-index">Carrousel</div>
</div>
<div class="row row--index">
        <div class="row__column-index cover urban"></div>
        <div class="row__column-index">Carrousel</div>
</div>





<div class="slider">
    slider aqui
</div>