
<header>
    <img src="/img/logo_alexaJilon.png" alt="Alexa Jilon" class="logo">
<nav>
    <ul>
      
        <li><a href="#">Alexa Jilon    </a></li>
        
        <li>
            
            <a href="#" class="dropdown">Show Room </a>
                <ul class="menu-area">
                    <ul>
                        <h4>Gold Line</h4>
                        <li><a href="#">Colección 1</a></li>
                        <li><a href="#">Colección 2</a></li>
                        <li><a href="#">Colección 3</a></li>
                    </ul>

                    <ul>
                        <h4>Swim Wear</h4>
                        <li><a href="#">Colección 1</a></li>
                        <li><a href="#">Colección 2</a></li>
                        <li><a href="#">Colección 3</a></li>
                    </ul>

                    <ul>
                        <h4>Night Dimon</h4>
                        <li><a href="#">Colección 1</a></li>                  
                        <li><a href="#">Colección 2</a></li>
                        <li><a href="#">Colección 3</a></li>
                    </ul>
                    <ul>
                        <h4>Urban Gold</h4>
                        <li><a href="#">Colección 1</a></li>
                        <li><a href="#">Colección 2</a></li>
                        <li><a href="#">Colección 3</a></li>
                    </ul>

                    <ul>
                        <img src="/img/slide/slide-background-avefenix.jpg" alt="">
                    </ul>
                </ul>
        </li>
        <li><a href="#">Contacto</a></li>
    </ul>
</nav>
</header>